body{
    padding: 0;
    margin: 0;
    background-color: rgb(21, 32, 43);
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
}

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

.content{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* *******************Botões lado esquerdo ***********************/

.container-options{
    width: 26vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.position-fixed{
    position: fixed;
}

.opt-box{
    display: flex;
    height:100vh;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

}


.container-options svg{
    width: 25px;
}

.options-head{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
}

.options-head .optios-btn{
    width:fit-content;
    border-radius: 25px;
    padding: 5px 20px 5px 20px;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-head .optios-btn:first-child{
    border-radius: 100%;
    padding: 10px 20px 10px 20px;
}

.options-head .optios-btn p{
    color: white;
    font-size: 1.25rem;
    margin: 0;
    padding: 0 0 0 15px;
}

.options-head .optios-btn:hover{
    background-color: rgba(255, 255, 255, 0.295);
    cursor: pointer;
}

.optios-btn-tw .tweetar{
    width: 225px;
    height: 50px; 
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(29, 156, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}


.options-bottom{
    width: 250px;
    margin: 0 10px 25px 0;
}

.options-bottom .profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    padding: 5px 20px 5px 20px;
    transition: all 0.2s;
}

.options-bottom .profile:hover{
    background-color: rgba(255, 255, 255, 0.295);
    cursor: pointer;
}

.options-bottom .profile span{
    padding-left: 10px;
}

.options-bottom .profile span p{
    margin: 0;
}

.options-bottom .profile span p:first-child{
    font-size: 1rem;
    font-weight: 700;
}

.options-bottom .profile span p:last-child{
    font-size: 0.9rem;
    color: rgb(139, 152, 165);
}

@media screen and (max-width: 1275px){
    .options-head p{
        display: none;
        padding: 0;
        width: 0;
    }

    .options-head{
        width: fit-content;
        margin-right: 20px;
    }

    .optios-btn-tw{
        width: fit-content;
    }

    .optios-btn-tw .tweetar{
        width: 55px;
        height: 55px;
    }

    .options-bottom{
        width: fit-content;
    }

    .options-bottom .profile span{
        display: none;
    }

    .options-bottom .profile svg{
        display: none;
    }

    .container-options{
        width: fit-content;
    }

}



/* ********************Feed********************** */

.container-feed{
    width: 600px;
    height:max-content;
    border: 1px gray solid;
    border-top: none;
    border-bottom: none;
}

.feed-head{
    width: 100%;
    max-width: 598px;
    position: fixed;
    border-bottom: 1px solid gray;
    background-color: rgba(21, 32, 43, 0.649);
    backdrop-filter: blur(10px);
}

.feed-head h1{
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    padding: 10px 0 0 20px;
}

.feed-head .forU-follow-btn{
    display: flex;
    margin-top: 10px;
    width: 100%;
}
.feed-head .forU-follow-btn button{
    width: 100%;
    border: none;
    background:none;
    color: white;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;

    font-size: 0.9rem;
    font-weight: 600;
}

.feed-head .forU-follow-btn button:hover{
    background-color: rgba(42, 54, 68, 0.575);
}

.feed-head .forU-follow-btn button::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 4.25rem;
    height: 5px;
    background-color: rgb(29, 155, 240);
    border-radius: 5px;
    z-index: 1;
}

.send-post{
    width: 100%;
    padding-top: 120px;
    display: flex;
    gap: 20px;
    padding-left: 20px;
    border-bottom: 1px gray solid;
}

.profile-picture{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.publish{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.publish input[type="text"]{
    width: 95%;
    height: 50px;
    background-color: rgba(250, 235, 215, 0);
    border: none;
    font-size: 1.25rem;
    color: white;
}

.publish input[type="text"]:focus{
    outline: none;
    /* caret-color: #FFF; */
}


.publish-options button[type="submit"]{
    width: 90px;
    height: 35px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(29, 156, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}

.publish-options{
    width: 95%;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.publish-options .svgs{
    display: flex;
    color: rgb(29, 155, 240);
    gap: 5px;
}

.publish-options .svgs i{
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    padding: 5px;
    cursor: pointer;
}

.publish-options .svgs i svg{
    width: 18px;
    height: 18px;
}

.publish-options .svgs i:hover{
    background-color: rgba(29, 156, 240, 0.34);
}

/* *******Feed Content ********* */

.feed-content{
    width: 100%;
    
}

.postage{
    display: flex;
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid gray;
    transition: all 0.2s;
    cursor: pointer;
}

.postage:hover{
    background: rgb(255,255,255,0.03);
}

.postage .postage-header ,.postagefull .postage-header{
    display: flex;
    justify-content: space-between;
    gap: 5px;

}

.three-dots div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 100%;
    transition: background 0.2s;
}

.three-dots div:hover{
    color: rgb(29, 115, 240);
    background: rgb(29, 115, 240,0.1);
}

.postage-content{
    padding-left: 5px;
}

.profile-name{
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #FFF;
}

.profile-name:hover{
    color: #FFF;
    text-decoration: underline 1px solid white;
}

.profile-id,.time{
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: rgb(139, 152, 165);
}

.postage-body img{
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}

.postage-title{
    font-size: 1rem;
    margin: 0;
    padding: 0 0 10px 0;
}

.reactions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px 0;
}

.reactions span{
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    gap: 5px;
    color: rgb(139, 152, 165);
    cursor: pointer;
}

.reactions span svg{
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
}

.reactions span div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background:none;
    transition: background 0.2s;
}

.reactions span:hover div{
    color: rgb(29, 115, 240);
    background: rgb(29, 115, 240,0.1);
}

.reactions span p{
    margin: 0;
    padding: 0;
}

.reactions .retweet:hover div{
    color: rgb(0, 186, 124);
    background: rgb(0, 186, 124,0.1);
}

.reactions .like:hover div{
    color: rgb(249, 24, 128);
    background: rgb(249, 24, 128,0.1);
}

@media screen and (max-width: 690px){
    .container-feed{
        min-width: 300px;
    }
    .feed-head{
        min-width: 300px;
    }
    .send-post{
        min-width: 300px;
    }
    .postage{
        min-width: 300px;
    }
}

/* *********fullscreen Postage ******** */
.fullscreen-postage{
    position: fixed;
    background-color: rgb(21, 32, 43);
    width: 598px;
    height: 100vh;
    top: 0;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    display: none;
}

.fullscreen-postage::-webkit-scrollbar {
    width: 6px;
  }
  
  .fullscreen-postage::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .fullscreen-postage::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

.go-back{
    display: flex;
    padding: 10px 0 10px 10px;
    align-items: center;
    gap: 30px;
}

.go-back a{
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: background 0.2s;
}

.go-back a:hover{
    background: rgb(255,255,255,0.03);
    
}

.go-back a svg{
    width: 20px;
    height: 20px;
}

.go-back h5{
    font-weight: 700;
}

.reactions-numbers{
    display: flex;
    gap: 10px;
    align-items: center;
}
.reactions-numbers span{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
}

.reactions-numbers span h5{
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

.reactions-numbers span p{
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: rgb(139, 152, 165);
}

.fullscreen-postage .reactions{
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding-top: 0;
}

.fullscreen-postage .reactions svg{
    width: 20px;
    height: 20px;
}

.fullscreen-postage .postagefull{
    border: none;
    display: flex;
    flex-direction: column;
    /* position: absolute; */
}

.fullscreen-postage .postage:hover{
    background-color: rgb(21, 32, 43);
    cursor: default;
}

.fullscreen-postage .send-post{
    padding-top: 0;
}

/* ****************** Search Container **************** */

.container-search{
    width: 33vw;
    height:100vw;
    padding-left: 25px;

}

.search-form-box{
    position: relative;
    width: 360px;
    height: 40px;
}

.bg-form{
    background-color: rgba(21, 32, 43, 0.649);
    width: 100%;
    height: 60px;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 999;
}

.search-form{
    margin-top: 10px;
    width: 360px;
    height: 40px;
    background-color: rgb(30, 39, 50);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkgrey;

}

.search-form i{
    padding-left: 25px;

}

.search-form svg{
    width: 15px;
}

.search-form input[type="search"]{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0);
    color: #FFF;
    padding-left: 20px;
    font-size: 0.9rem;
}

.search-form input[type="search"]:focus{
    outline: none;
}

.search-content-box{
    position: sticky;
    transition: all 0.2s;
    top: 20px;
}

.popular-content{
    margin-top: 25px;
    width: 360px;
    height: fit-content;
    border-radius: 20px;
    background-color: rgb(30, 39, 50);
}

.popular-content div{
    padding: 10px 0 10px 20px;
}

.popular-content .title{
    font-size: 1.25rem;
    font-weight: 700;
    padding: 20px 0 0 20px;
}

.popular-content-now{
    width: 100%;
    height: fit-content;
    background-color: rgb(30, 39, 50);
    transition: all 0.2s;
    cursor: pointer;
}

.popular-content-now:hover{
    background-color: rgb(42, 54, 68);
}

.show-More{
    padding: 10px 0 10px 20px;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 0px 0px 20px 20px;
}

.show-More:hover{
    background-color: rgb(42, 54, 68);
    border-radius: 0px 0px 20px 20px;
}

.show-More a{
    text-decoration: none;
    color: rgb(29, 155, 240);
}

.popular-content-now .head{
    font-size: 1rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.popular-content-now .text{
    font-size: 1rem;
    color: rgb(139, 152, 165);
    padding: 0;
    margin: 0;
}

.popular-content-now .quantity{
    font-size: 0.75rem;
    color:rgb(139, 152, 165);
    padding: 0;
    margin: 0;
}

.who-follow{
    margin-top: 25px;
    width: 360px;
    height: fit-content;
    border-radius: 20px;
    background-color: rgb(30, 39, 50);
}

.who-follow .title{
    font-size: 1.25rem;
    font-weight: 750;
    padding: 20px 0 0 20px;
}

.who-follow .profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
}

.who-follow .profile:hover{
    background-color: rgb(42, 54, 68);
}

.who-follow .profile span{
    padding-left: 10px;
}

.who-follow .profile span p{
    margin: 0;
}

.who-follow .profile span p:first-child{
    font-size: 1rem;
    font-weight: 700;
}

.who-follow .profile span p:last-child{
    font-size: 0.9rem;
    color: rgb(139, 152, 165);
}

.who-follow .profile button{
    border-radius: 100px;
    font-size: 0.9rem;
    font-weight: 500;
}

.cellphone-buttons{
    
}

@media screen and (max-width: 1095px){

    /* .container-search{
        width: 350px;
    } */

    .search-form{
        width: 350px;
    }

    .popular-content{
        width: 350px;
    }

    .who-follow{
        width: 350px;
    }
}

@media screen and (max-width: 1000px){

    .container-search{
        display: none;
    }

    .search-form{
        display: none;
    }

    .popular-content{
        display: none;
    }

    .who-follow{
        display: none;
    }
}

@media screen and (max-width: 500px){
    .container-options{
        display: none;
    }
}